<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!-- TIP: Services can leverage ASP.NET Cache -->
    <caching>
      <outputCache enableOutputCache="true"/>
      <outputCacheSettings>
        <outputCacheProfiles>
          <!-- TIP: Use cache profiles to with the [AspNetCacheProfile(<name>)] attribute on service methods -->
          <add name="ResourceSet" location="Server" duration="30" varyByParam="skip; take" varyByHeader="Accept"/>
          <add name="Resource" location="Any" duration="30" varyByParam="" varyByHeader="Accept"/>
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
  </system.web>

  <system.serviceModel>
    <standardEndpoints>
      <webHttpEndpoint>
        <!-- TIP: Enable automatic XML/JSON support -->
        <!-- TIP: Enable service help page -->
        <standardEndpoint
          automaticFormatSelectionEnabled="true"
          helpEnabled="true" />
      </webHttpEndpoint>
    </standardEndpoints>
    <!-- TIP: ASP.NET Compatibility for access to HttpContext -->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
</configuration>