<?xml version="1.0"?>
<appSettings>
  <!-- Default -->
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <!-- Custom -->
  <add key="MyWebService" value="http://sampler.GetFramework.com/Quick-Start/Templater-Quick-Start-for-MVC/v1" />
</appSettings>